<section [ngClass]="{
    'bg-primary': rol === 'administrador' || rol=== 'profesor',
    'bg-info': rol === 'alumno'}">
    <div class="container-xxl">
        <div class="col text-center p-5">
            <h1 [ngClass]="{
                'text-white': rol === 'administrador' || rol === 'profesor'}">Empresas</h1>
            <div id="empresasCarousel" class="carousel" [ngClass]="{
                'slide': rol === 'administrador' || rol === 'profesor',
                'carousel-dark slide': rol === 'alumno'}" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item" *ngFor="let slide of slides; let i = index"
                        [ngClass]="{'active': i === 0}">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-6 col-lg-4" *ngFor="let empresa of slide">
                                <div class="card p-3 m-1" [ngClass]="{
                                    'bg-primary': rol === 'alumno',
                                    'bg-info': rol === 'administrador' || rol === 'profesor'}" [routerLink]="['/empresa', empresa.id]">
                                    <div class="d-flex align-items-center justify-content-center my-3">
                                        <img width="100" height="100" class="me-2 profile-photo rounded-circle" src={{empresa.pathFoto}} alt="Foto perfil">
                                        <h3 class="m-1" [ngClass]="{
                                            'text-white': rol === 'alumno'}">{{empresa.nombre}}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev text-primary" type="button" data-bs-target="#empresasCarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#empresasCarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="p-3">
                <a class='btn text-white m-2' [ngClass]="{
                    'btn-warning': rol === 'administrador' || rol === 'profesor', 
                    'btn-primary': rol === 'alumno'}" [routerLink]="['/empresas']">
                    Ver Todas
                </a>
            </div>
        </div>
    </div>
</section>