<section class="bg-primary">
    <div class="container-xxl">
        <div class="col text-center p-5 text-white">
            <h1 class="display-5" *ngIf="alumno">¡Bienvenid&#64;, {{alumno.nombre}} {{alumno.apellido1}} {{alumno.apellido2}}!</h1>
            <h1 class="display-5" *ngIf="empresa">¡Bienvenid&#64;, {{empresa.nombre}}!</h1>
            <h1 class="display-5" *ngIf="profesor">¡Bienvenid&#64;, {{profesor.nombre}} {{profesor.apellido1}} {{profesor.apellido2}}!</h1>
            <h1 class="display-5" *ngIf="administrador">¡Bienvenid&#64;, {{administrador.nombre}} {{administrador.apellido1}} {{administrador.apellido2}}!</h1>
        </div>
    </div>
</section>