<nav class="navbar navbar-expand-md">
  <div class="container-xxl">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logo.jpg" alt="Logo" width="150" class="d-inline-block align-text-top">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/index']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/empresas']">Empresas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/solicitudes']">Solicitudes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="index/#misProfesores">Profesores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#quienesSomos">Sobre nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/politica-privacidad']">Política de
            privacidad</a>
        </li>
        <li class="nav-item d-flex justify-content-center align-items-center">
          <img (click)="toggleModal($event)" width="50" height="50" class="profile-photo rounded-circle" src="{{user?.pathFoto}}" alt="mi perfil">
          <app-profile-modal></app-profile-modal>
        </li>
      </ul>
    </div>
  </div>
</nav>