<div *ngIf="rol==undefined">
    <app-header-landing></app-header-landing>
</div>
<div *ngIf="rol=='alumno'">
    <app-header-alumno></app-header-alumno>
</div>
<div *ngIf="rol=='empresa'">
    <app-header-empresa></app-header-empresa>
</div>
<div *ngIf="rol=='profesor'">
    <app-header-profesor></app-header-profesor>
</div>
<div *ngIf="rol=='administrador'">
    <app-header-administrador></app-header-administrador>
</div>

<section class="bg-primary">

    <div class="container-xxl bg-info p-5">

        <h1>Política de Privacidad</h1>
        <p>En FCT-Connect nos comprometemos a proteger la privacidad de la información que recopilamos y utilizarla de
            manera responsable. Esta política de privacidad explica cómo manejamos los datos personales de nuestros
            usuarios.</p>

        <h2>1. Información que Recopilamos:</h2>
        <p>Recopilamos información personal de los usuarios en función de su relación con nuestra plataforma:</p>
        <ul>
            <li><strong>Alumnos:</strong>
                <ul>
                    <li>Información de identificación personal, como nombre, dirección, fecha de nacimiento.</li>
                    <li>Datos educativos, como historial académico y áreas de interés.</li>
                    <li>Información de contacto, como dirección de correo electrónico y número de teléfono.</li>
                    <li>Datos profesionales, si se aplicara.</li>
                </ul>
            </li>
            <li><strong>Profesores:</strong>
                <ul>
                    <li>Información de identificación personal, como nombre, dirección, fecha de nacimiento.</li>
                    <li>Datos educativos y profesionales, incluyendo experiencia laboral y áreas de especialización.
                    </li>
                    <li>Información de contacto, como dirección de correo electrónico y número de teléfono.</li>
                </ul>
            </li>
            <li><strong>Empresas:</strong>
                <ul>
                    <li>Información de identificación de la empresa, como nombre, dirección y número de registro.</li>
                    <li>Datos de contacto de representantes autorizados, incluyendo correo electrónico y número de
                        teléfono.</li>
                    <li>Información sobre perfiles de trabajo y oportunidades laborales.</li>
                </ul>
            </li>
        </ul>

        <h2>2. Uso de la Información:</h2>
        <p>Utilizamos la información recopilada para:</p>
        <ul>
            <li>Facilitar conexiones entre alumnos, profesores y empresas.</li>
            <li>Personalizar la experiencia del usuario en nuestra plataforma.</li>
            <li>Proporcionar actualizaciones relevantes sobre oportunidades educativas y laborales.</li>
            <li>Mejorar nuestros servicios y la funcionalidad de la plataforma.</li>
        </ul>

        <h2>3. Compartir Información:</h2>
        <p>No compartimos información personal con terceros sin el consentimiento expreso del usuario, excepto cuando
            sea necesario para cumplir con obligaciones legales.</p>

        <h2>4. Seguridad de los Datos:</h2>
        <p>Implementamos medidas de seguridad técnicas y organizativas para proteger la información personal de accesos
            no autorizados, pérdidas o alteraciones.</p>

        <h2>5. Derechos del Usuario:</h2>
        <p>Los usuarios tienen el derecho de acceder, corregir, actualizar o eliminar su información personal. Pueden
            ejercer estos derechos enviando una solicitud a <a
                href="mailto:29007329edu@juntadeandalucia.es">29007329edu&#64;juntadeandalucia.es</a>.</p>

        <h2>6. Cambios en la Política de Privacidad:</h2>
        <p>Nos reservamos el derecho de actualizar esta política de privacidad. Se notificará a los usuarios sobre
            cambios significativos.</p>

        <h2>7. Consentimiento:</h2>
        <p>Al utilizar nuestra plataforma, los usuarios aceptan los términos de esta política de privacidad.</p>
    </div>
</section>


<app-footer></app-footer>