<section id="misProfesores" class="bg-info p-5">
    <div class="row d-flex justify-content-center">
        <h2 class="text-center p-3">Tus profesores</h2>
        <em class="text-center" *ngIf="profesorTutorizaAlumno?.length === 0">No hay profesores que mostrar</em>
        <div class="col-md-6 col-lg-4" *ngFor="let pta of profesorTutorizaAlumno">
            <div class="card p-3 m-1 bg-primary text-white">
                <div class="text-center">
                    <img width="100" height="100" class="m-3 profile-photo rounded-circle"  [src]="pta.profesor.pathFoto" alt="Foto perfil">
                    <div>
                        <h4>{{pta.profesor.nombre}} {{pta.profesor.apellido1}} {{pta.profesor.apellido2}}</h4>
                        <em>{{pta.tipoTutoria}}</em>
                    </div>
                    <a class="btn btn-warning text-white m-2" [routerLink]="['/profesor', pta.profesor.id]">
                        Ver perfil
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>