<nav class="navbar navbar-expand-md">
  <div class="container-xxl">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logo.jpg" alt="Logo" width="150" class="d-inline-block align-text-top">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/index']">Inicio</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="alumnosDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Alumnos
          </a>
          <ul class="dropdown-menu" aria-labelledby="alumnosDropdown">
            <li><a class="dropdown-item" [routerLink]="['/alumnos']">Activos</a></li>
            <li><a class="dropdown-item" [routerLink]="['/alumnos-inact']">Inactivos</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="empresasDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Empresas
          </a>
          <ul class="dropdown-menu" aria-labelledby="empresasDropdown">
            <li><a class="dropdown-item" [routerLink]="['/empresas']">Activas</a></li>
            <li><a class="dropdown-item"[routerLink]="['/empresas-inact']">Inactivas</a></li>
          </ul>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="profesoresDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Profesores
          </a>
          <ul class="dropdown-menu" aria-labelledby="profesoresDropdown">
            <li><a class="dropdown-item" [routerLink]="['/profesores']">Activos</a></li>
            <li><a class="dropdown-item" [routerLink]="['/profesores-inact']">Inactivos</a></li>
          </ul>
        </li>
       
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#quienesSomos">Sobre nosotros</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/politica-privacidad']">Política de
            privacidad</a>
        </li>
        <li class="nav-item d-flex justify-content-center align-items-center">
          <img (click)="toggleModal($event)" width="50px" src="{{user?.pathFoto}}" alt="mi perfil">
          <app-profile-modal></app-profile-modal>
        </li>
      </ul>
    </div>
  </div>
</nav>