<div *ngIf="rol=='empresa'">
    <app-header-empresa></app-header-empresa>
</div>
<div *ngIf="rol=='profesor'">
    <app-header-profesor></app-header-profesor>
</div>
<div *ngIf="rol=='administrador'">
    <app-header-administrador></app-header-administrador>
</div>

<section class="bg-primary">
    <div class="container-xxl py-5">
        <div class="d-flex justify-content-around align-items-center flex-column flex-md-row">
            <form class="row g-3 align-items-end mb-4">
                <div class="col-12 col-md-3">
                    <label for="nombreAlumno" class="form-label text-white">Nombre</label>
                    <input type="text" class="form-control" id="nombreAlumno" placeholder="Nombre" [(ngModel)]="nombre"
                        name="nombre">
                </div>

                <div class="col-12 col-md-3">
                    <label for="idiomaAlumno" class="form-label text-white">Idioma</label>
                    <select class="form-select" id="idiomaAlumno" [(ngModel)]="idioma" name="idioma">
                        <option value="">Todos los idiomas</option>
                        <option *ngFor="let idioma of idiomas" [value]="idioma.id">{{idioma.nombre}}</option>
                    </select>
                </div>

                <div class="col-12 col-md-3">
                    <label for="vehiculoAlumno" class="form-label text-white">Vehículo propio</label>
                    <select class="form-select" id="vehiculoAlumno" [(ngModel)]="vehiculoPropio" name="vehiculoPropio">
                        <option value="">Indiferente</option>
                        <option value="true">Sí</option>
                        <option value="false">No</option>
                    </select>
                </div>

                <div class="col-12 col-md-3">
                    <button type="button" class="btn btn-warning w-100 text-white" (click)="buscar()">Buscar</button>
                </div>
            </form>
        </div>

        <div class="d-flex justify-content-around align-items-center flex-column flex-md-row">
            <nav aria-label="Page navigation example" class="mb-3 mb-md-0">
                <ul class="pagination m-0">
                    <li class="page-item" (click)="retrocederPagina()">
                        <a class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" *ngFor="let i of repeticionesArray" (click)="irAPagina(i)">
                        <a class="page-link">{{i+1}}</a>
                    </li>
                    <li class="page-item" (click)="avanzarPagina()">
                        <a class="page-link" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="d-flex justify-content-around align-items-center flex-column flex-md-row">
            <em class="p-5 text-white" *ngIf="alumnos.length==0">No hay alumnos que mostrar</em>
        </div>




        <div class="row justify-content-center">
            <div class="col-md-4 bg-info card card-container m-3" *ngFor="let alumno of alumnos">
                <div class="card-body text-center">
                    <div class="d-flex align-items-center justify-content-center my-3">
                        <img width="80" height="80" class="me-2 profile-photo rounded-circle" src={{alumno.pathFoto}} alt="Foto del alumno">
                        <h5 class="card-title mt-3">{{alumno.nombre}} {{alumno.apellido1}} {{alumno.apellido2}}</h5>
                    </div>
                    <ul class="list-group list-group-flush text-start">
                        <li class="list-group-item my-1"><i
                                class="fa-solid fa-graduation-cap me-2 text-primary"></i>{{alumno.formacion?.nivel}}:
                            <em>{{alumno.formacion?.nombre}}</em>
                        </li>

                        <li *ngIf="alumno.idiomas?.length" class="list-group-item my-1"><i
                                class="fa-solid fa-language me-2 text-primary"></i>
                            Idiomas:
                            <ul *ngFor="let idiomaALumno of alumno.idiomas">
                                <span>{{idiomaALumno.idioma.nombre}}:
                                    <em>{{returnNivelIdiomaFirstLetterUpper(idiomaALumno.nivel)}}</em></span>
                            </ul>
                        </li>

                        <li class="list-group-item my-1"><i class="fa-solid fa-car me-2 text-primary"></i>Vehículo
                            propio: <em>{{alumno.vehiculoPropio==1?'Sí ':'No'}}</em>
                            <i class="fa-solid ms-1"
                                [ngClass]="{'fa-square-check text-success': alumno.vehiculoPropio == 1, 'fa-square-xmark text-danger': alumno.vehiculoPropio != 1}">
                            </i>
                        </li>
                    </ul>
                    <a class="btn btn-primary text-white m-2" [routerLink]="['/alumno/'+alumno.id]">Ver más</a>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" (click)="retrocederPagina()">
                        <a class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li class="page-item" *ngFor="let i of repeticionesArray" (click)="irAPagina(i)">
                        <a class="page-link">{{i+1}}</a>
                    </li>

                    <li class="page-item" (click)="avanzarPagina()">
                        <a class="page-link" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<app-footer></app-footer>