<div *ngIf="rol=='empresa'">
    <app-header-empresa></app-header-empresa>
</div>
<div *ngIf="rol=='profesor'">
    <app-header-profesor></app-header-profesor>
</div>
<div *ngIf="rol=='administrador'">
    <app-header-administrador></app-header-administrador>
</div>
<div *ngIf="rol=='alumno'">
    <app-header-alumno></app-header-alumno>
</div>

<div class="container">
    <div class="bg-primary p-3">
        <div class="d-flex align-items-center justify-content-center my-3 text-white">
            <div class="foto-container">
                <img width="150" height="150" class="me-4 profile-photo rounded-circle" src="{{alumno?.pathFoto}}"
                    alt="Foto perfil">
                <i *ngIf="rol==='alumno'" class="fa-solid fa-user-pen fs-4 text-warning" (click)="onEditIconClick()"></i>
            </div>
            <input type="file" id="fileInputFoto" (change)="uploadFoto($event)">

            <div class="profile-info">
                <h2 class="profile-name">{{alumno?.nombre}} {{alumno?.apellido1}} {{alumno?.apellido2}}</h2>
                <h5 class="profile-education">{{alumno?.formacion?.nivel}}, {{alumno?.formacion?.nombre}}</h5>
            </div>
        </div>
    </div>

    <div *ngIf="rol==='administrador'" class="bg-info text-center py-3 my-3">
        <h2>Adminisitración</h2>
        <button class="btn btn-primary m-1" [routerLink]="['/tutoria/'+id]">Tutorias</button>
        <app-activar-o-desactivar></app-activar-o-desactivar>
        <div class="d-flex justify-content-center align-items-center">
            <div class="form-group p-2">
                <select class="form-select" id="formaciones" name="formaciones" [(ngModel)]="formacion" required
                    #formacionesModel="ngModel"
                    [ngClass]="{ 'is-invalid': formacionesModel.invalid && formacionesModel.touched }">
                    <option value="">Elija la nueva formación</option>
                    <option *ngFor="let formacion of formaciones" [ngValue]="formacion">{{formacion.nombre}}
                        ({{formacion.nivel}})</option>
                </select>
                <div *ngIf="formacionesModel.invalid && formacionesModel.touched" class="invalid-feedback">
                    <ul>
                        <li *ngIf="formacionesModel.errors?.['required']">La formación es requerida.</li>
                    </ul>
                </div>
            </div>
            <button class="btn btn-primary btn-block" (click)="onSubmit()">Actualizar</button>
        </div>
    </div>

    <div *ngIf="rol==='empresa'" class="bg-info text-center py-3 my-3">
        <button class="btn bg-primary text-white" [routerLink]="['/solicitud/'+alumno?.id]">
            <i class="fa-solid fa-comment-dots"></i>
            Enviar Solicitud
        </button>
    </div>

    <div class="bg-info text-center py-3 my-3">
        <div class="d-flex justify-content-center align-items-center">
            <h2>Datos Personales</h2>
        </div>

        <div class="d-flex justify-content-center align-items-center">
            <form class="col-md-6" name="formPersonalData" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
                novalidate>

                <div class="form-group p-2">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fa-solid fa-id-card text-primary"></i>
                        </span>
                        <span class="input-group-text fw-bold">
                            DNI:
                        </span>
                        <input type="dni" class="form-control" id="dni" name="dni" [(ngModel)]="formPersonalData.dni"
                            disabled [value]="alumno?.dni" #dni="ngModel">
                    </div>
                </div>

                <div class="form-group p-2">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fa-solid fa-envelope text-primary"></i>
                        </span>
                        <span class="input-group-text fw-bold">
                            Email:
                        </span>
                        <input type="email" class="form-control" id="email" name="email"
                            [(ngModel)]="formPersonalData.email" disabled [value]="alumno?.email">
                    </div>
                </div>

                <div class="form-group p-2">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fa-solid fa-phone text-primary"></i>
                        </span>
                        <span class="input-group-text fw-bold">
                            Tlf:
                        </span>
                        <input type="telefono" class="form-control" id="telefono" name="telefono"
                            [(ngModel)]="formPersonalData.telefono" [value]="alumno?.telefono" #telefono="ngModel"
                            [disabled]="rol != 'alumno'">
                    </div>
                </div>

                <div class="form-group p-2">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fa-solid fa-location-dot text-primary"></i>
                        </span>
                        <span class="input-group-text fw-bold">
                            Dirección:
                        </span>
                        <input type="direccion" class="form-control" id="direccion" name="direccion"
                            [(ngModel)]="formPersonalData.direccion" [value]="alumno?.direccion" #direccion="ngModel"
                            [disabled]="rol != 'alumno'">
                    </div>
                </div>
                <button *ngIf="rol === 'alumno'" class="btn bg-primary text-white">
                    Guardar Cambios
                </button>
            </form>
        </div>



    </div>

    <div class="bg-info text-center py-3 my-3">
        <div class="d-flex justify-content-center align-items-center">
            <h2>Expediente académico</h2>
        </div>

        <div *ngIf="rol==='profesor'" class=" d-flex justify-content-center align-items-center">
            <div *ngIf="!alumno?.pathExpediente" class="card mb-3 mt-3">
                <div class="card-body">
                    <div class="mb-3">
                        <input type="file" class="form-control" id="fileInput" (change)="uploadExpediente($event)">
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <button class="btn btn-primary" (click)="onSubmit()">
                            <i class="fa-solid fa-arrow-up-from-bracket text-white"></i>
                            Subir Expediente
                        </button>
                    </div>
                </div>
            </div>

            <div *ngIf="alumno?.pathExpediente" class="d-flex justify-content-center align-items-center">
                <a href="{{alumno?.pathExpediente}}" class="btn bg-white me-2">
                    <i class="fa-solid fa-eye"></i>
                    Ver Expediente
                </a>

                <a (click)="eliminarExpediente()" class="btn bg-primary text-white">
                    <i class="fa-solid fa-trash-can-arrow-up"></i>
                    Eliminar Expediente
                </a>
            </div>
        </div>

        <div *ngIf="rol!=='profesor'" class="d-flex justify-content-center align-items-center">
            <a *ngIf="alumno?.pathExpediente" href="{{alumno?.pathExpediente}}" class="btn bg-white me-2">
                <i class="fa-solid fa-eye"></i>
                Ver Expediente
            </a>
            <em *ngIf="!alumno?.pathExpediente && rol!='profesor'">No hay expedientes que mostrar</em>
        </div>
    </div>

    <app-idioma></app-idioma>


    <div class="bg-info text-center py-3 my-3">
        <div class="d-flex justify-content-center align-items-center">
            <h2>Currículum Vitae</h2>
        </div>

        <div *ngIf="rol==='alumno'" class=" d-flex justify-content-center align-items-center">
            <div *ngIf="!alumno?.pathCV" class="card mb-3 mt-3">
                <div class="card-body">
                    <div class="mb-3">
                        <input type="file" class="form-control" id="fileInput" (change)="uploadCV($event)">
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <button class="btn btn-primary" (click)="onSubmit()">
                            <i class="fa-solid fa-arrow-up-from-bracket text-white"></i>
                            Subir Currículum
                        </button>
                    </div>
                </div>
            </div>

            <div *ngIf="alumno?.pathCV" class="d-flex justify-content-center align-items-center">
                <a href="{{alumno?.pathCV}}" class="btn bg-white me-2">
                    <i class="fa-solid fa-eye"></i>
                    Ver Currículum
                </a>

                <a (click)="eliminarCv()" class="btn bg-primary text-white">
                    <i class="fa-solid fa-trash-can-arrow-up"></i>
                    Eliminar CV
                </a>
            </div>

            <em *ngIf="!alumno?.pathCV && rol!='alumno'">No hay currículumns que mostrar</em>
        </div>

        <div *ngIf="rol!=='alumno'" class="d-flex justify-content-center align-items-center">
            <a *ngIf="alumno?.pathCV" href="{{alumno?.pathCV}}" class="btn bg-white me-2">
                <i class="fa-solid fa-eye"></i>
                Ver Currículum
            </a>
            <em *ngIf="!alumno?.pathCV">No hay currículumns que mostrar</em>
        </div>
    </div>

    <div class="bg-info text-center py-3 my-3">
        <div class="d-flex justify-content-center align-items-center">
            <h2>Datos de interés</h2>
        </div>

        <div class="d-flex justify-content-center align-items-center">
            <form class="col-md-6" name="formPersonalData" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
                novalidate>
                <div class="form-group p-2">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fa-solid fa-id-badge text-primary"></i>
                        </span>
                        <span class="input-group-text fw-bold">
                            Carnet:
                        </span>
                        <select class="form-select" id="carnetConducir" name="carnetConducir"
                            [(ngModel)]="formPersonalData.carnetConducir" [disabled]="rol != 'alumno'">
                            <option [ngValue]="true">Sí</option>
                            <option [ngValue]="false">No</option>
                        </select>
                    </div>
                </div>

                <div class="form-group p-2">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fa-solid fa-car text-primary"></i>
                        </span>
                        <span class="input-group-text fw-bold">
                            Vehículo propio:
                        </span>
                        <select class="form-select" id="vehiculoPropio" name="vehiculoPropio"
                            [disabled]="rol !='alumno'" [(ngModel)]="formPersonalData.vehiculoPropio">
                            <option [ngValue]="true">Sí</option>
                            <option [ngValue]="false">No</option>
                        </select>
                    </div>
                </div>

                <button *ngIf="rol === 'alumno'" class="btn bg-primary text-white">
                    Guardar Cambios
                </button>
            </form>
        </div>
    </div>

    <div *ngIf="rol === 'empresa'" class="bg-info text-center py-3 my-3">
        <div class="d-flex justify-content-center align-items-center">
            <div class="col-md-6 col-lg-4">
                <h2>Profesor Asociado</h2>
                <div *ngIf="tutorPracticas === undefined">
                    <em>No hay profesor asociado</em>
                </div>
                <div *ngIf="tutorPracticas != undefined" class="card p-3 m-1 bg-primary text-white">
                    <div class="text-center">
                        <img width="100" [src]="tutorPracticas.pathFoto" alt="Foto profesor">
                        <div>
                            <h4>{{tutorPracticas.nombre}} {{tutorPracticas.apellido1}} {{tutorPracticas.apellido2}}
                            </h4>
                        </div>
                        <a class="btn btn-warning text-white m-2" [routerLink]="['/profesor', tutorPracticas.id]">
                            Ver perfil
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCambiosRealizados" tabindex="-1" aria-labelledby="modalCambiosRealizados"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">¡Cambios guardados!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-primary btn-block" data-bs-dismiss="modal" (click)="reload()">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>