#fileInputFoto {
  display: none;
}

.foto-container {
  position: relative;
}

.fa-square-pen {
  position: absolute;
  bottom: 20px;
  right: 40px;

  &:hover {
    background-color: #dc7900;
  }
}
