<app-header-landing></app-header-landing>
<section class="bg-empresa d-flex align-items-center">
    <div class="container-xl d-flex justify-content-center">
      <div class="col-md-5">
          <div class="card bg-white bg-opacity-75" >
          <div class="card-body">
            <h5 class="card-title text-center">Acceso empresas</h5>
            <app-formulario-inicio-sesion></app-formulario-inicio-sesion>
              <div>
                <small class="p-2">¿Aún no eres miembro? <a [routerLink]="['/request-empresa']">Regístrate</a></small>
              </div>
          </div>
        </div>  
      </div>
    </div>
</section>
<app-footer></app-footer>