<div *ngIf="rol=='administrador'">
    <app-header-administrador></app-header-administrador>
</div>
<div *ngIf="rol=='alumno'">
    <app-header-alumno></app-header-alumno>
</div>
<div *ngIf="rol=='empresa'">
    <app-header-empresa></app-header-empresa>
</div>
<div *ngIf="rol=='profesor'">
    <app-header-profesor></app-header-profesor>
</div>

<div *ngIf="rol=='administrador'">
    <app-index-admin></app-index-admin>
</div>
<div *ngIf="rol=='alumno'">
    <app-index-alumno></app-index-alumno>
</div>
<div *ngIf="rol=='empresa'">
    <app-index-empresa></app-index-empresa>
</div>
<div *ngIf="rol=='profesor'">
    <app-index-profesor></app-index-profesor>
</div>

<app-footer></app-footer>

