/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'bootstrap/scss/bootstrap';


@font-face {
    font-family: 'ElMessiri';
    src: url('assets/fonts/ElMessiri-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'tahoma';
    src: url('assets/fonts/Tahoma\ Gras\ 700.ttf') format('truetype');
}
.navbar {
    font-family: 'ElMessiri';
}

.bg-empresa {
    background-image: url(../src/assets/img/empresa.jpg);
    background-size: cover;
    background-position: center;    
    min-height: calc(100vh - 176px);
}






